body
{
    background-color : rgb(255,170,80); 
    font-family: titre;
}

form{
    display: inline-block;
    margin-left: 20%;
}

img
{
    vertical-align: middle;
}

input{
    height: 75px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
}

p{
    text-decoration: none;
    color :white;
    text-align: center;
}

.Body{
    text-align: center;
}

.Body2
{
    margin-left: 15%;
    text-align: center;
}

.Head
{
    color: rgb(255,170,80);
    text-align: left;
    background-color: rgb(38,38,38);
    font-style: italic;
    margin-top: 8px;
}

.Head2
{
    color: rgb(255,170,80);
    text-align: left;
    background-color: rgb(38,38,38);
    font-style: italic;
    margin-top: 8px;
}


#gauche{
    float:left;
}

#droite{
    float: right;
}

#gif{
    padding-left: 100px;
}

#marge7{
    margin-top: 7%;
}

#redcarre
{
    width: 100px;
    height: 100px;
}

@font-face {
    font-family: 'titre';
    src: url('titre.ttf');
}

#test{
    margin-left:450px; 
    padding-top: 2%;
}

#sub{
    background-color: white;
    width: 305px;
    border-radius: 30px;
}

#sub:hover{
    background-color: rgb(255,170,80);
    color: white;
}
