a{
	color: rgb(255,170,80);
	text-decoration: none;
}

body{
    margin: 0px;
    font-family: verdana;
    color : rgb(255,170,80);
    background-color: rgb(255,170,80);
}

form{
    float: left;
}


ul{
    float: right;
    padding-top: 40px;
    font-size: 20px;
    padding-right: 50px; 
}

ul#menu_horizontal li { 
    display : inline;
    padding : 0 1em; /* Pour espacer les boutons entre eux */
}

ul#menu_horizontal {
    margin-top: 0px;
list-style-type : none; /* Car sinon les puces se placent n'importe où */
}

.Body{
    position: absolute;
    width: 100%;
    height: 500px;
    padding-top:120px;
    text-align: center;
    z-index: 1;
    color: black;
}


.Head{
    background-color: rgb(38,38,38);
    display: inline-block;
    position: fixed;
    width: 100%;
    z-index: 4;
}

#add{
    width: 96%;
    background-color: darkgrey;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 50px;
    height: 500px;
}

#album{
    background-color:white;
	border-radius:11px;
	border: 1px solid rgb(38,38,38);
	cursor:pointer;
	color: black;
	font-size:25px;
    padding-left: 159px;
    padding-right: 149px;
    margin-top: 25px;
    margin-left: 25px;
	text-decoration:none;
}
#album:hover {
	background-color: aquamarine;
}

#barrerecherche{
    font-size: 25px;
    text-align: right;
}

#cross {
    background: white;
    height: 100px;
    position: relative;
    width: 20px;
    margin-left: 47%;
}

#cross:after {
  background: white;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

#droite{
    height: 100px;
    width: 100px;
    float: right;
    padding-right: 20px;
}

#entree{
    text-align: center;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

#fondnoir{
    width: 98%;
    margin-left: 1%;
    background-color: rgb(38,38,38);
    z-index: 2;
    position: absolute;
    text-align: center;
}

#logo{
    height: 100px;
    width: 100px;
    float: left;
}

#parcourir{
	margin-bottom : 250px;
}

#post{
    background-color:white;
	border-radius:11px;
	border: 1px solid rgb(38,38,38);
	cursor:pointer;
	color: black;
	font-size:25px;
    padding-left: 40%;
    padding-right: 40%;;
    margin-left: 35px;
    margin-top: 25px;
	text-decoration:none;
}
#post:hover {
	background-color: rgb(255,170,80);
}

#recherche{
    padding-top: 30px;
    padding-left: 40px;
}




