<head>
    <meta charset = "utf-8" />
    <title> Instakilogram | Création de compte </title>
    <link rel="stylesheet" type="text/css" href="accueil.css" />
	<link rel="icon" type="image/png" href="logoFavicon.png" />
</head>

<body>
    
    <div class="Head2">
        <h1><a href="accueil.html"><img id="redcarre" src="logo.png"></a>Instakilogram</h1>
    </div>
    
    <div class="Body2">
        <div id="gauche">
        <form action="creercompte.php" method="post">
            <input name="nom" type="text" placeholder="NOM"><br/>
            <input name="prenom" type="text" placeholder="PRÉNOM"><br/>
            <input name="mail" type="email" placeholder="ADRESSE MAIL"><br/>
            <input name="mdp" type="password" placeholder="MOT DE PASSE"><br/>
            <input name="valider" type="submit" id="sub" value="Créer un compte">
        </form>
        </div>
        
        <div id="test">
            <img id="gif" src="boucle.gif">
        </div>
        
    </div>
    
</body>