body{
    margin: 0px;
    font-family: verdana;
    color : rgb(255,170,80);
    background-color: rgb(255,170,80);
}

form{
    float: left;
}


ul{
    float: right;
    padding-top: 40px;
    font-size: 20px;
    padding-right: 50px;
}

a{
	color: rgb(255,170,80);
	text-decoration: none;
}

ul#menu_horizontal li { 
    display : inline;
    padding : 0 1em; /* Pour espacer les boutons entre eux */
}

ul#menu_horizontal {
    margin-top: 0px;
list-style-type : none; /* Car sinon les puces se placent n'importe où */
}

.Body{
    position: absolute;
    width: 100%;
    height: 500px;
    padding-top:140px;
    text-align: center;
    z-index: 1;
    color: black;
}


.Head{
    background-color: rgb(38,38,38);
    display: inline-block;
    position: fixed;
    width: 100%;
    z-index: 4;
}

#barrerecherche{
    font-size: 25px;
    text-align: right;
}

#case{
    font-size: 25px;
    text-align: center;
}

#photoprofil{
	width: 300px;
	height: 300px;
	border-radius: 150px;
    margin-top: 50px;
    margin-left: 38.5%;
    
    border: 5px solid rgb(255,170,80);
    position: absolute;
    z-index: 3;
	font-size :0px;
	text-indent : 140px;
}

#circle {
	width: 300px;
	height: 300px;
	border-radius: 150px;
    margin-top: 50px;
    margin-left: 38.5%;
    
    border: 5px solid rgb(255,170,80);
    position: absolute;
    z-index: 3;
	font-size :0px;
	text-indent : 140px;
}

#circle:hover{
    width: 300px;
	height: 300px;
	border-radius: 150px;
    margin-top: 50px;
    margin-left: 38.5%;
    background: url(profil.png);
    background-image: url(profil2.png);
    border: 5px solid rgb(255,170,80);
    position: absolute;
    z-index: 3;
}

#droite{
    height: 100px;
    width: 100px;
    float: right;
    padding-right: 20px;
}

#fondnoir{
    width: 98%;
    margin-left: 1%;
    background-color: rgb(38,38,38);
    z-index: 2;
    position: absolute;
    margin-top: 200px;
}

#logo{
    height: 100px;
    width: 100px;
    float: left;
}

#recherche{
    padding-top: 30px;
    padding-left: 40px;
}

#sub{
    font-size: 35px;
    width: 150px;
}

#subImage{
    font-size: 35px;
    width: 250px;
	margin-top: 2px;
    margin-left: 40.5%;
	position: absolute;
}

#test{
    padding-top: 200px;
    padding-left: 40%;
}
