body
{
    background-color: rgb(255,170,80);
    margin: 0px;  
}

form{
    float: left;
}

h5{
    padding-left:5%;
    float:left;
}

img{
    float:left; 
}

input{
    font-family: verdana;
    font-size: 25px;
}

.Head
{
    font-family: avenir;
    color : azure;
    font-size: 3em;
    background-color: rgb(38,38,38);
    white-space: nowrap;
    width: 100%;
    position: fixed;
}

#doit{
    margin-left: 10px;
}

.body{
    margin-top: 100000px;
}

#barrederecherche{
    width: 400px; 
    text-align: right;
}

#redlogo
{
    width: 100px;
    height: 100px;
}


@font-face {
    font-family: 'titre';
    src: url('titre.ttf');
}