body{
    margin: 0px;
    font-family: verdana;
    color : rgb(255,170,80);
    background-color: rgb(255,170,80);
}

form{
    float: left;
}

ul{
    float: right;
    padding-top: 40px;
    font-size: 20px;
    padding-right: 50px; 
}

ul#menu_horizontal li { 
    display : inline;
    padding : 0 1em; /* Pour espacer les boutons entre eux */
}

ul#menu_horizontal {
    margin-top: 0px;
    list-style-type : none; /* Car sinon les puces se placent n'importe où */
}

a{
	color: rgb(255,170,80);
	text-decoration: none;
}

.Body{
    position: absolute;
    width: 100%;
    height: 500px;
    padding-top:120px;
    text-align: center;
    z-index: 1;
    color: black;
}

.Head{
    background-color: rgb(38,38,38);
    display: inline-block;
    position: fixed;
    width: 100%;
    z-index: 4;
}

#barrerecherche{
    font-size: 25px;
    text-align: right;
}


#blocorange{
    background-color: rgb(255,170,80);
    color: white;
    font-size: 23px;
    margin-top: 20px;
    width: 600px;
    
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#circle {
	width: 300px;
	height: 300px;
	border-radius: 150px;
    margin-top: 50px;
    margin-left: 38.5%;
    background: url(profil.png);
    border: 5px solid rgb(255,170,80);
    position: absolute;
    z-index: 2;
}

#photoprofil{
	width: 300px;
	height: 300px;
	border-radius: 150px;
    border: 5px solid rgb(255,170,80);
    margin-top: 1%;
    z-index: 2;
	position: absolute;
	margin-left : -150px;
}

#circle:hover{
    width: 300px;
	height: 300px;
	border-radius: 150px;
    margin-top: 50px;
    margin-left: 38.5%;
    background: url(profil.png);
    background-image: url(profil2.png);
    border: 5px solid rgb(255,170,80);
    position: absolute;
    z-index: 3;

}

#droite{
    height: 100px;
    width: 100px;
    float: right;
    padding-right: 20px;
}

#fondnoir{
    width: 98%;
    margin-left: 1%;
    background-color: rgb(38,38,38);
    z-index: 1;
    position: absolute;
	margin-top:150px;
}

#infos{
	margin-top: -10px;
    position: absolute;
    margin-left: 30%;

    font-size: 10px;
    color: rgb(255,170,80);
}

#logo{
    height: 100px;
    width: 100px;
    float: left;
}

#nomProfil{
	font-size: 20px;
}

#photo{
    width: 750px;
    height: 480px;
}

#recherche{
    padding-top: 30px;
    padding-left: 40px;
}

#titre{
    padding-top: 7px;
    position: absolute;
    margin-left: 41.5%;
    font-family: titre;
    font-size: 25px;
    color: rgb(255,170,80);
}

#uploadphoto{
    background-image: url("logo_download.png");
    height: 60px;
    width: 60px;
    float: right;
    padding-right: 200px;
	padding-bottom: 200px;
	border-radius: 200px;
}

@font-face {
    font-family: 'titre';
    src: url('titre.ttf');
}